<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>

		<li>
			<a href="#/inspections/add.html">Draft Condition Report</a>
		</li>
	</ul>
	<div class="page-toolbar">
					<div class="btn-group pull-right open">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
						Actions <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#/job/repair_bill_report.html">Create Repair Bill Report</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#/job/inspection/add.html">Change back to Inspection</a>
							</li>
						</ul>
					</div>
				</div>
</div>
<h3 class="page-title">
	Westfield - Bondi Junction <small>Draft Condition Report</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
	    <form action="#" class="form-horizontal form-bordered">

	</div>
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-blue-madison bold uppercase">B1 - Common Area Defects Identified During Annual Testing</span>
				</div>

			</div>
			<div class="portlet-body form">
			<br>
			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q1</strong> - Are exit and emergency lights automatically activating in accordance with ASS2293 upon failure of the general lighting in the area/s covered by the emergency lighting?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div><br>
			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q2</strong> - Do all relevant zones or circuits have test switches to enable testing of emergency lighting without interrupting the general lighting in the area (mandatory after 1998)?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div><br>
			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q3</strong> - Do all relevant switchboard circuit breakers or relevant control switches have labels or warning notices in accordance with the requirements of AS2293?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div><br>
			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q4</strong> - Have all exit and emergency light diffusers and reflective surfaces been cleaned during the annual test in accordance with AS2293?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div>


			<div style="margin:20px;margin-bottom:5px;" class="clearfix">Note: Fitting Failures Columns - B= Battery; O = Other</div>

                <div style="margin:20px;" class="clearfix">
                	<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th rowspan="3">
									 Fitting Number
								</th>
								<th rowspan="3">
									 Fitting Type
								</th>
								<th rowspan="3">
									 Switchboard Number
								</th>
								<th rowspan="3">
									 Level
								</th>
								<th rowspan="3">
									 Area
								</th>

								<th colspan="6" style="text-align:center">
									 Fitting Type & Failure
								</th>
								<th rowspan="3">
									 Comments
								</th>
							</tr>
							<tr>
							    <th colspan="2" style="text-align:center">Exit</th>
							    <th colspan="2" style="text-align:center">Spitfire</th>
							    <th colspan="2" style="text-align:center">Other</th>
							</tr>
							<tr>
							    <th>B</th>
							    <th>O</th>
							    <th>B</th>
							    <th>O</th>
							    <th>B</th>
							    <th>O</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>2001</td>
								<td>Exit QF Famco SS</td>
								<td>DB2S</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
								<td>2002</td>
								<td>Exit QF Famco SS</td>
								<td>DB2S</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
								<td>2003</td>
								<td>Exit QF Famco SS</td>
								<td>DB2S</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
								<td>5555555</td>
								<td>Exit QF Famco SS</td>
								<td>DB2S</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
							    <td colspan="5"><strong>TOTALS</strong></td>
							    <td>3</td>
							    <td>0</td>
							    <td>0</td>
							    <td>0</td>
							    <td>0</td>
							    <td>0</td>
							</tr>

							</tbody>
							</table>
                </div>
			</div>
		</div>
		<!-- END PORTLET-->
        </form>
	</div>
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-blue-madison bold uppercase">B2 - Tennant Area (Shops) Defects Identified During Annual Testing</span>
				</div>

			</div>
			<div class="portlet-body form">
			<br>
			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q1</strong> - Are exit and emergency lights automatically activating in accordance with ASS2293 upon failure of the general lighting in the area/s covered by the emergency lighting?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div><br>

			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q2</strong> - Do all relevant switchboard circuit breakers or relevant control switches have labels or warning notices in accordance with the requirements of AS2293?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div><br>
			<div style="margin:5px;" class="clearfix">
                <div class="col-md-7"><strong>Q3</strong> - Have all exit and emergency light diffusers and reflective surfaces been cleaned during the annual test in accordance with AS2293?</div>
                <div class="col-md-2"> <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div></div>
                <div class="col-md-3"><strong>If "NO" submit a separate report with full details of all Non Compliances</strong></div>
			</div>


			<div style="margin:20px;margin-bottom:5px;" class="clearfix">Note: Fitting Failures Columns - B= Battery; O = Other</div>

                <div style="margin:20px;" class="clearfix">
                	<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th rowspan="3">
									 Fitting Number
								</th>
								<th rowspan="3">
									 Fitting Type
								</th>
								<th rowspan="3">
									 Level
								</th>
								<th rowspan="3">
									 Area
								</th>
								<th rowspan="3">
									 Shop
								</th>

								<th colspan="7" style="text-align:center">
									 Fitting Type & Failure
								</th>
								<th rowspan="3">
									 Comments
								</th>
							</tr>
							<tr>
							    <th colspan="2" style="text-align:center">Exit</th>
							    <th colspan="2" style="text-align:center">Spitfire</th>
							    <th colspan="2" style="text-align:center">Other</th>
							    <th rowspan="2" style="text-align:center">Test Switch</th>
							</tr>
							<tr>
							    <th>B</th>
							    <th>O</th>
							    <th>B</th>
							    <th>O</th>
							    <th>B</th>
							    <th>O</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>2001</td>
								<td>Exit QF Famco SS</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>Shop 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
								<td>2002</td>
								<td>Exit QF Famco SS</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>Shop 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
								<td>2003</td>
								<td>Exit QF Famco SS</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>Shop 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
								<td>5555555</td>
								<td>Exit QF Famco SS</td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>Shop 1</td>
								<td>1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>-</td>
							</tr>
							<tr>
							    <td colspan="13"><strong>TEST SWITCHES</strong></td>
							</tr>
							<tr>
								<td> </td>
								<td> </td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>Shop 1</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>1</td>
								<td>-</td>
							</tr>
							<tr>
								<td> </td>
								<td> </td>
								<td>Level 1</td>
								<td>Area 2</td>
								<td>Shop 12</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>1</td>
								<td>-</td>
							</tr>
							<tr>
							    <td colspan="5"><strong>TOTALS</strong></td>
							    <td>3</td>
							    <td>0</td>
							    <td>0</td>
							    <td>0</td>
							    <td>0</td>
							    <td>0</td>
							    <td>2</td>
							</tr>

							</tbody>
							</table>
                </div>
			</div>
		</div>
		<!-- END PORTLET-->
        </form>
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	ComponentsPickers.init(); // init todo page
</script>
