<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>

		<li>
			<a href="#/inspections/add.html">Repair Bill Report</a>
		</li>
	</ul>
		<div class="page-toolbar">
					<div class="btn-group pull-right open">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
						Actions <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#/job/repairs/add.html">Schedule Repairs</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#/job/inspection/summary.html">Set status to Draft Condition Report</a>
							</li>
							<li>
								<a href="#/job/inspection/add.html">Set status to Inspection</a>
							</li>
						</ul>
					</div>
				</div>
</div>
<h3 class="page-title">
	Westfield - Bondi Junction <small> Repair Bill Report</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
	    <form action="#" class="form-horizontal form-bordered">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-blue-madison bold uppercase">Non monitored exit and emergency lighting system</span>
				</div>

			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->

			<div class="form-body">
			    <div class="form-group">
                    <div class="col-md-3" style="text-align:right">Client</div>
				    <div class="col-md-3">Westfield</div>
                </div>
			    <div class="form-group">
                    <div class="col-md-3" style="text-align:right">Shopping Centre</div>
				    <div class="col-md-3">Bondi Junction</div>
                </div>

				<div class="form-group">
					<label class="control-label col-md-3">Peroid from</label>
					<div class="col-md-3">
					<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
					<span class="help-block">
					Set start date </span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Peroid to</label>
					<div class="col-md-3">
					<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
					<span class="help-block">
					Set end date </span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Comments / Details</label>
					<div class="col-md-3">
                        <textarea></textarea>
					<span class="help-block">
					Comments / Details </span>
					</div>
				</div>
			</div>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-blue-madison bold uppercase">Exit & Emergency Lighting System Details (from Asset Register) - Summary Defects</span>
				</div>

			</div>
			<div class="portlet-body form">
		<div class="row"><div style="margin:20px;" class="clearfix">
                	<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Area or Zone
								</th>
								<th>
									 Details of fitting
								</th>
								<th>
									 Quantity
								</th>

							</tr>

							</thead>
							<tbody>
							<tr>
								<td>Commons</td>
								<td>Exit QF Famco SS</td>
								<td>8</td>
							</tr>
							<tr>
								<td>Commons</td>
								<td>Exit QF Famco SS</td>
								<td>8</td>

							</tr>
							<tr>
								<td>Tenancies</td>
								<td>Exit QF Famco SS</td>
								<td>8</td>

							</tr>
							<tr>
								<td>Tenancies</td>
								<td>Exit QF Famco SS</td>
								<td>8</td>

							</tr>

							<tr>
							    <td colspan="2"><strong>TOTAL EMERGENCY FITTINGS</strong></td>
							    <td>32</td>
							</tr>

							</tbody>
							</table>
                </div></div>

			</div>
		</div>
		<!-- END PORTLET-->
        </form>
	</div>
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-blue-madison bold uppercase">Price - Replacement of Entire Fitting - Common Area</span>
				</div>

			</div>
			<div class="portlet-body form">
		<div class="row"><div style="margin:20px;" class="clearfix">
                	<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Details of fitting
								</th>
								<th>
									 Contract price 2014 (per one fitting)
								</th>
								<th>
									 Quantity
								</th>
								<th>
									 Cost to repair fittings
								</th>

							</tr>

							</thead>
							<tbody>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>
							</tr>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>

							</tr>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>

							</tr>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>

							</tr>

							<tr>
							    <td colspan="3"><strong>TOTAL COST TO RECTIFY COMMON AREA DEFECTS</strong></td>
							    <td>$6880.00</td>
							</tr>

							</tbody>
							</table>
                </div></div>

			</div>
		</div>
		<!-- END PORTLET-->
        </form>	</div>
    <div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-blue-madison bold uppercase">Price - Replacement of Entire Fitting - Tenancy Area</span>
				</div>

			</div>
			<div class="portlet-body form">
		<div class="row"><div style="margin:20px;" class="clearfix">
                	<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Details of fitting
								</th>
								<th>
									 Contract price 2014 (per one fitting)
								</th>
								<th>
									 Quantity
								</th>
								<th>
									 Cost to repair fittings
								</th>

							</tr>

							</thead>
							<tbody>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>
							</tr>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>

							</tr>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>

							</tr>
							<tr>
								<td>Exit QF Famco SS</td>
								<td>$215.00</td>
								<td>8</td>
								<td>$1720.00</td>

							</tr>
							<tr>
							    <td colspan="4">TEST SWITCHES</td>
							</tr>
							<tr>
								<td>Switch</td>
								<td>$480.00</td>
								<td>2</td>
								<td>$960.00</td>

							</tr>

							<tr>
							    <td colspan="3"><strong>TOTAL COST TO RECTIFY TENANCY AREA DEFECTS</strong></td>
							    <td>$7840.00</td>
							</tr>

							</tbody>
							</table>
                </div></div>

			</div>
		</div>
		<!-- END PORTLET-->
        </form>	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	ComponentsPickers.init(); // init todo page
</script>
