<style>
    .nav-tabs, .nav-pills {margin-bottom: 0px;}
    .portlet.light.main-powered-up {border: 1px solid #ddd; border-top-color: white;}
    .portlet.light.bordered > .portlet-title {border-bottom: none;margin-bottom: 0px;}
    .portlet.light.bordered > .portlet-title > .caption {padding:15px 0;}
    .portlet {margin-bottom: 15px;}
    .portlet.solid.grey{margin-bottom: -2px;}
</style>


<div class="row">
	<div class="col-md-12">
		<tabset>
            <tab heading="Level 1">
                <div class="portlet light main-powered-up">

                    <div class="portlet portlet-sortable box blue-madison" style="display: block;">
						<div class="portlet-title">
							<div class="caption bold uppercase">
								<i class="fa fa-map-marker"></i>Area 1
							</div>
							<div class="actions">
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-pencil"></i> Edit </a>
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add Shop</a>

							</div>
						</div>

						<div class="portlet-body">

							<div class="portlet portlet-sortable solid blue-madison">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bulb"></i>
								<span class="caption-subject">
								Assets in Area </span>

							</div>
							<div class="actions">
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-pencil"></i> Edit </a>
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add Asset</a>

							</div>
						</div>
						<div class="portlet-body" style="display: block; height: auto;">
                           <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;" data-target="#form_modal2" data-toggle="modal">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2001</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit QF Famco SS</p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-danger">20.11.2014 - failed</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-right"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2002</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit QF Famco SS</p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-info">20.11.2014 - passed</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-up"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2003</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit Blade Famco SS </p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-warning">20.12.2014 - repaired</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-right"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2004</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| 1x18W QF Famco SS </p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-danger">20.11.2014 - failed</span> </p>
                            </a>
						</div>
					</div>
					<!--SHOP-->
					<div class="portlet portlet-sortable light bordered" style="display: block;">
						<div class="portlet-title tabbable-line">
							<div class="caption">
								<i class="fa fa-building-o"></i>
								<span class="caption-subject bold uppercase font-grey-gallery">
								Shop 1 - Dick Smith </span>
							</div>

<div class="actions">
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-pencil"></i> Edit </a>
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add Asset</a>

							</div>
						</div>
						<div class="portlet-body">
						<div class="portlet solid grey" id="my_portlet" style="padding: 0 10px 3px 10px;">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Switch
							</div>
										<div class="pull-right" style="margin-top: 11px;">
											<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">&nbsp;In-store&nbsp;</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">&nbsp;Internal&nbsp;</span><input type="checkbox" class="make-switch" data-on-text="&nbsp;External&nbsp;" data-off-text="&nbsp;Internal&nbsp;"></div></div>
											<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-off"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">&nbsp;Enabled&nbsp;&nbsp;</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">&nbsp;Faulty&nbsp;</span><input type="checkbox" class="make-switch" data-on-text="&nbsp;Enabled&nbsp;&nbsp;" data-off-text="&nbsp;Disabled&nbsp;"></div></div>
										</div>
						</div>

					</div>

											<div class="portlet-body" style="display: block; height: auto;">
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2005a</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit QF Famco SS</p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-danger">20.11.2014 - failed</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-right"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2006</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit QF Famco SS</p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-info">20.11.2014 - passed</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-up"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2007</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit Blade Famco SS </p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-warning">20.12.2014 - repaired</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-right"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2010b</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| 1x18W QF Famco SS </p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-danger">20.11.2014 - failed</span> </p>
                            </a>
						</div>

						</div>
					</div>
					<!--SHOP-->
					<div class="portlet portlet-sortable light bordered" style="display: block;">
						<div class="portlet-title tabbable-line">
							<div class="caption">
								<i class="fa fa-building-o"></i>
								<span class="caption-subject bold uppercase grey-gallery">
								Shop 2 - Moya Fashion </span>
							</div>

<div class="actions">
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-pencil"></i> Edit </a>
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add Asset</a>

							</div>
						</div>
						<div class="portlet-body">
						<div class="portlet solid grey" id="my_portlet" style="padding: 0 10px 3px 10px;">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Switch
							</div>
										<div class="pull-right" style="margin-top: 11px;">
											<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">&nbsp;In-store&nbsp;</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">&nbsp;Internal&nbsp;</span><input type="checkbox" class="make-switch" data-on-text="&nbsp;External&nbsp;" data-off-text="&nbsp;Internal&nbsp;"></div></div>
											<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-off"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">&nbsp;Enabled&nbsp;&nbsp;</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">&nbsp;Faulty&nbsp;</span><input type="checkbox" class="make-switch" data-on-text="&nbsp;Enabled&nbsp;&nbsp;" data-off-text="&nbsp;Disabled&nbsp;"></div></div>
										</div>
						</div>

					</div>

											<div class="portlet-body" style="display: block; height: auto;">
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2015a</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit QF Famco SS</p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-danger">20.11.2014 - failed</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-right"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2017</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit QF Famco SS</p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-info">20.11.2014 - passed</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-up"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2018</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| Exit Blade Famco SS </p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-warning">20.12.2014 - repaired</span> </p>
                                <p style="float:right;margin:0px 5px 0 0;"><i class="fa fa-arrow-right"></i></p>
                            </a>
                            <a href="#" class="btn default btn-block clearfix" style="text-align:left;padding-left:10px;">
                                <p style="float:left;min-width:50px;margin: 0px;"><strong>#2019</strong> </p>
                                <p style="min-width:200px;float:left;margin: 0px;">| 1x18W QF Famco SS </p>
                                <p style="float:left;margin: 0px;">  | <span class="label label-sm label-danger">20.11.2014 - failed</span> </p>
                            </a>
						</div>

						</div>
					</div>

						</div>
					</div>





                </div>


<!--
              <div class="form-group last">
							<label class="control-label col-md-3"></label>
							<div class="col-md-3">
								<a class="btn yellow" href="#" data-target="#form_modal2" data-toggle="modal">
								Edit in modal <i class="fa fa-share"></i>
								</a>
							</div>
						</div>
-->



              <div id="form_modal2" class="modal fade" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Edit Asset #2001</h4>
							</div>
							<div class="modal-body">
								<form action="#" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-4">Asset Number</label>
										<div class="col-md-8">
											<input class="form-control input-medium date-picker" size="16" type="text" value=""/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4">Asset Type</label>
										<div class="col-md-8">
																				<select name="job_event" class="form-control form-filter input-sm">
										<option value="">Select...</option>
										<option value="pending">Exit QF Famco DS</option>
										<option value="pending">Exit QF Famco DS</option>
										<option value="pending">Exit QF Famco DS</option>
										<option value="pending">Exit QF Famco DS</option>

									</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4">Set Status</label>
										<div class="col-md-8">
																				<select name="job_event" class="form-control form-filter input-sm">
										<option value="">Select...</option>
										<option value="pending">Fail</option>
										<option value="pending">Fail B</option>
										<option value="pending">Pass</option>
										<option value="pending">Repaired</option>
										<option value="pending">N/A</option>

									</select>
										</div>
									</div>

								</form>
								<hr>
								<h3>Asset History</h3>
								<img src="assets/asset-hist.jpg" class="img-reponsive">
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
								<button class="btn green" data-dismiss="modal">Archive</button>
								<button class="btn green" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div>
				</div>






            </tab>
            <tab heading="Level 2"></tab>
            <tab heading="Level 3"></tab>
            <tab heading="Level 3"></tab>
            <tab><tab-heading><i class="icon-plus"></i> Add new </tab-heading></tab>
        </tabset>
	</div>
</div>
