<div class="row"><div class="col-md-12">
	<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					Dashboard - Jobs Overview
				</div>
				<div class="actions">
					<a href="#/job/inspection/add.html" class="btn btn-md btn-default">
					<i class="fa fa-plus"></i>
					<span class="hidden-480">
					New Inspection </span>
					</a>
	        	</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">
									Job&nbsp;ID
								</th>
								<th width="15%">
									Start Date
								</th>
								<th width="15%">
									Last Update
								</th>

								<th width="30%">
									Current Status
								</th>
								<th width="10%">
									Actions
								</th>
							</tr>
							<tr role="row" class="filter">
								<td>
									<input type="text" class="form-control form-filter input-sm" name="order_id">
								</td>
								<td>
									<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
									<div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</td>
								<td>
									<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
									<div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</td>


								<td>
									<select name="job_event" class="form-control form-filter input-sm">
										<option value="">Select...</option>
										<option value="pending">Upcoming Inspection</option>
										<option value="closed">Draft Repair Bill Report</option>
										<option value="hold">Repair Bill Report</option>
										<option value="fraud">Upcoming Repairs</option>
										<option value="fraud">Closed</option>
									</select>
								</td>
								<td>
									<div class="margin-bottom-5">
										<button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
									</div>
									<button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
								</td>
							</tr>
						</thead>
						<tbody>
						<tr>
						    <td><a href="#">#0001</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/job/inspection/add.html">Inspection</a></td>
						    <td><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></td>
						</tr>
						<tr>
						    <td><a href="#">#0002</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/job/inspection/summary.html">Draft Condition Report</a></td>
                            <td><a href="#/job/inspection/summary.html"><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></a></td>
						</tr>
						<tr>
						    <td><a href="#">#0003</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/job/repair_bill_report.html">Repair Bill Report</a></td>
                            <td><a href="#/job/repair_bill_report.html"><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></a></td>
						</tr>
						<tr>
						    <td><a href="#">#0004</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td>Repairs</td>
						    <td><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></td>
						</tr>
						<tr>
						    <td><a href="#">#0005</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td>Closed</td>
						    <td><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div></div>

<!-- BEGIN MAIN JS-->
<script>
	Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->
