<style>
.page-container-bg-solid .page-content {/*background-color: #fff;*/}
.profile-sidebar-portlet {padding: 0px 0 0 0 !important;}
.profile-usermenu {margin-top: 0px;}
</style>
<!-- BEGIN PAGE HEADER-->

<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-building-o"></i>
			<a href="#/clients">Clients</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-building-o"></i>
			<a href="#/clients/shopping_centres">Client</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/profile/dashboard">Shopping Centre</a>
		</li>
	</ul>

</div>
<h3>Bondi Junction</h3>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController">
	<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">

			<!-- PORTLET MAIN -->
			<div class="portlet light profile-sidebar-portlet">

				<!-- SIDEBAR USERPIC -->
				<div>
					<img src="assets/bondijunction.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->

				<!-- SIDEBAR BUTTONS -->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li ng-class="{active: $state.includes('shopping_centre_main.dashboard')}">
							<a ui-sref="shopping_centre_main.dashboard">
							<i class="icon-home"></i>
							Overview </a>
						</li>
						<li ng-class="{active: $state.includes('shopping_centre_main.plan')}">
							<a ui-sref="shopping_centre_main.plan">
							<i class="icon-settings"></i>
							Shopping Centre Plan </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
			<!-- END PORTLET MAIN -->
			<!-- PORTLET MAIN -->
			<div class="portlet light">
				<!-- STAT -->
				<div class="list-separated profile-stat">
<img src="assets/map-bondi.jpg" class="img-responsive">

				</div>
				<button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-map-marker"></i> Get Directions</button>
				<button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-edit"></i> Edit Details</button>
				<!-- END STAT -->

			</div>
			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div ui-view class="profile-content fade-in-up"> 
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>
<!-- END PAGE CONTENT-->
