<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
		<li class="sidebar-search-wrapper">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
			<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
<!--
			<form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
				<a href="javascript:;" class="remove">
				<i class="icon-close"></i>
				</a>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
-->
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start">
			<a href="#/dashboard.html">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
        <li>
			<a href="javascript:;">
			<i class="icon-users"></i>
			<span class="title">Users / Contacts</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/users.html">
					<i class="icon-users"></i> Users</span>
					</a>
				</li>
				<li>
					<a href="#/contacts.html">
					<i class="icon-users"></i> Contacts</span>
					</a>
				</li>	
			</ul>
		</li>
		<li>
			<a href="#/clients" >
			<i class="fa fa-building-o"></i>
			<span class="title">Clients</span>
			</a>
		</li>

		<li>
		<a href="javascript:;">
			<i class="icon-bulb"></i>
			<span class="title">Assets</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/assets_types.html">
					<i class="icon-bulb"></i> Assets - Types </span>
					</a>
				</li>
				<li>
					<a href="#/attributes.html">
					<i class="fa fa-cogs"></i> Assets - Attributes</span>
					</a>
				</li>
			</ul>
		</li>

        <li>
			<a href="javascript:;">
			<i class="icon-calendar"></i>
			<span class="title">Inspections</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/inspections.html">
					<i class="icon-list"></i> All </span>
					</a>
				</li>
				<li>
					<a href="#/inspections/add.html">
					<i class="icon-plus"></i> Add New</span>
					</a>
				</li>
				<li>
					<a href="#/inspections.html">
					<i class="icon-list"></i> Upcoming </span>
					</a>
				</li>
				
				<li>
					<a href="#/inspections.html">
					<i class="icon-list"></i> Submited For Approval </span>
					</a>
				</li>
				<li>
					<a href="#/inspections.html">
					<i class="icon-list"></i> Approved </span>
					</a>
				</li>
				<li>
					<a href="#/inspections.html">
					<i class="icon-list"></i> In Progress </span>
					</a>
				</li>
			</ul>
		</li>
        <li>
			<a href="javascript:;">
			<i class="icon-notebook"></i>
			<span class="title">Repair Bill Reports</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/reports.html">
					<i class="icon-list"></i> All </span>
					</a>
				</li>				
				<li>
					<a href="#/reports.html">
					<i class="icon-list"></i> Awaiting Approval </span>
					</a>
				</li>
				<li>
					<a href="#/reports.html">
					<i class="icon-list"></i> Approved </span>
					</a>
				</li>
			</ul>
		</li>
		
        <li>
			<a href="javascript:;">
			<i class="icon-calendar"></i>
			<span class="title">Repairs</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/repairs.html">
					<i class="icon-list"></i> All </span>
					</a>
				</li>
				<li>
					<a href="#/repairs.html">
					<i class="icon-plus"></i> Not Scheduled </span>
					</a>
				</li>
				<li>
					<a href="#/repairs.html">
					<i class="icon-list"></i> Upcoming </span>
					</a>
				</li>
				<li>
					<a href="#/repairs.html">
					<i class="icon-list"></i> In Progress </span>
					</a>
				</li>
				<li>
					<a href="#/repairs.html">
					<i class="icon-list"></i> Submited For Approval </span>
					</a>
				</li>
				<li>
					<a href="#/repairs.html">
					<i class="icon-list"></i> Approved </span>
					</a>
				</li>
			</ul>
		</li>

		
<!--<li><a href="javascript:;"><span class="title">--------------------</span></a></li><li><a href="javascript:;"><i class="icon-settings"></i><span class="title">AngularJS Features</span><span class="arrow "></span></a><ul class="sub-menu"><li><a href="#/ui_bootstrap.html"><i class="icon-puzzle"></i> UI Bootstrap</span></a></li><li><a href="#/file_upload.html"><i class="icon-paper-clip"></i> File Upload</span></a></li><li><a href="#/ui_select.html"><i class="icon-check"></i> UI Select</span></a></li></ul></li><li><a href="javascript:;"><i class="icon-wrench"></i><span class="title">jQuery Plugins</span><span class="arrow "></span></a><ul class="sub-menu"><li><a href="#/form-tools"><i class="icon-puzzle"></i> Form Tools</a></li><li><a href="#/pickers"><i class="icon-calendar"></i> Date & Time Pickers</a></li><li><a href="#/dropdowns"><i class="icon-refresh"></i> Custom Dropdowns</a></li><li><a href="#/tree"><i class="icon-share"></i> Tree View</a></li><li><a href="javascript:;"><i class="icon-briefcase"></i> Datatables<span class="arrow "></span></a><ul class="sub-menu"><li><a href="#/datatables/advanced.html"><i class="icon-tag"></i> Advanced Datatables</a></li><li><a href="#/datatables/ajax.html"><i class="icon-refresh"></i> Ajax Datatables</a></li></ul></li></ul></li><li><a href="#/todo"><i class="icon-check"></i><span class="title">Task & Todo</span></a></li><li><a href="../index.html" target="_blank"><i class="icon-paper-plane"></i><span class="title">HTML Version</span></a></li>-->


	</ul>
	<!-- END SIDEBAR MENU -->
</div>
