


<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AjaxDatatablesDemoCtrl">
	<div class="col-md-12">

		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					Dashboard - Jobs Overview
				</div>
				<div class="actions">
					<a href="#/job/inspection/add.html" class="btn btn-md btn-default">
					<i class="fa fa-plus"></i>
					<span class="hidden-480">
					New Inspection </span>
					</a>
					<div class="btn-group">
						<a class="btn btn-md btn-default" href="#" data-toggle="dropdown">
						<i class="fa fa-share"></i>
						<span class="hidden-480">
						Tools </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">
								Export to Excel </a>
							</li>
							<li>
								<a href="#">
								Export to CSV </a>
							</li>
							<li>
								<a href="#">
								Export to XML </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#">
								Print Invoices </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">
									Job&nbsp;ID
								</th>
								<th width="15%">
									Start Date
								</th>
								<th width="15%">
									Last Update
								</th>
								<th width="10%">
									Customer
								</th>
								<th width="15%">
									Shopping&nbsp;Centre
								</th>
								<th width="30%">
									Current Status
								</th>
								<th width="10%">
									Actions
								</th>
							</tr>
							<tr role="row" class="filter">
								<td>
									<input type="text" class="form-control form-filter input-sm" name="order_id">
								</td>
								<td>
									<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
									<div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</td>
								<td>
									<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
									<div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
										<span class="input-group-btn">
										<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</td>
								<td>
									<input type="text" class="form-control form-filter input-sm" name="order_customer_name">
								</td>
								<td>
									<input type="text" class="form-control form-filter input-sm" name="order_ship_to">
								</td>

								<td>
									<select name="job_event" class="form-control form-filter input-sm">
										<option value="">Select...</option>
										<option value="pending">Inspection</option>
										<option value="closed">Draft Condition Report</option>
										<option value="hold">Repair Bill Report</option>
										<option value="fraud">Repairs</option>
										<option value="fraud">Closed</option>
									</select>
								</td>
								<td>
									<div class="margin-bottom-5">
										<button class="btn btn-sm default filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
									</div>
									<button class="btn btn-sm default filter-cancel"><i class="fa fa-times"></i> Reset</button>
								</td>
							</tr>
						</thead>
						<tbody>
						<tr>
						    <td><a href="#">#0001</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/clients/shopping_centres">Westfield</a></td>
						    <td><a href="#/clients/shopping_centres/shopping_centre/dashboard">Bondi Junction</a></td>
						    <td><a href="#/job/inspection/add.html">Inspection</a></td>
						    <td><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></td>
						</tr>
						<tr>
						    <td><a href="#">#0002</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/clients/shopping_centres">Westfield</a></td>
						    <td><a href="#/clients/shopping_centres/shopping_centre/dashboard">Bondi Junction</a></td>
						    <td><a href="#/job/inspection/summary.html">Draft Condition Report</a></td>
                            <td><a href="#/job/inspection/summary.html"><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></a></td>
						</tr>
						<tr>
						    <td><a href="#">#0003</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/clients/shopping_centres">Westfield</a></td>
						    <td><a href="#/clients/shopping_centres/shopping_centre/dashboard">Bondi Junction</a></td>
						    <td><a href="#/job/repair_bill_report.html">Repair Bill Report</a></td>
                            <td><a href="#/job/repair_bill_report.html"><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></a></td>
						</tr>
						<tr>
						    <td><a href="#">#0004</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/clients/shopping_centres">Westfield</a></td>
						    <td><a href="#/clients/shopping_centres/shopping_centre/dashboard">Bondi Junction</a></td>
						    <td>Repairs</td>
						    <td><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></td>
						</tr>
						<tr>
						    <td><a href="#">#0005</a></td>
						    <td>20 Jan 2014</td>
						    <td>30 Jan 2014</td>
						    <td><a href="#/clients/shopping_centres">Westfield</a></td>
						    <td><a href="#/clients/shopping_centres/shopping_centre/dashboard">Bondi Junction</a></td>
						    <td>Closed</td>
						    <td><button class="btn btn-sm blue-madison filter-submit"><i class="fa fa-search"></i> View</button></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AjaxDatatablesDemoCtrl($scope) {
		TableAjax.init();
	}
</script>
<!-- END MAIN JS -->
