<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="icon-bulb"></i>
			<a href="#/assets_types.html">Assets - Types</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
		<a href="#/shopping_centre/plan.html" >
			<button type="button" class="btn btn-sm btn-default" data-close-others="true" style="margin:3px 1px;">
			 <i class="icon-plus"></i> Add New Asset Type
			</button>
        </a>
		</div>
	</div>

</div>
<h3 class="page-title">
	Assets - Types
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">


	<div class="col-md-12">

		<div class="table-toolbar">
            <div class="row">
				<div class="col-md-12">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
													Print </a>
												</li>
												<li>
													<a href="#">
													Save as PDF </a>
												</li>
												<li>
													<a href="#">
													Export to Excel </a>
												</li>
											</ul>
										</div>
                    </div>
				</div>
        </div>
		<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Fitting Type
								</th>
								<th>
									 Asset Type
								</th>
								<th>
									 Brand
								</th>
								<th>
									 Style
								</th>
								<th>
									 Direction
								</th>
								<th>
									 Action
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>

								<td>

									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Exit</option>
                                      <option value="1">Exit Jumbo</option>
                                      <option value="2">Owl</option>
                                      <option value="2">Flood</option>
                                      <option value="2">1x18w</option>
                                      <option value="2">2x18w</option>
                                      <option value="2">1x24w</option>
                                      <option value="2">2x24w</option>
                                      <option value="2">1x36w</option>
                                      <option value="2">2x36w</option>
                                      <option value="2">1x58w</option>
                                      <option value="2">2x58w</option>
                                    </select>
								</td>
								<td>

									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">QF</option>
                                      <option value="1">Blade</option>
                                      <option value="2">Box</option>
                                      <option value="2">Fluro</option>
                                      <option value="2">Led</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Famco</option>
                                      <option value="1">Legrand</option>
                                      <option value="2">Stanilite</option>
                                      <option value="2">Kwiklite</option>
                                      <option value="2">Clevertronics</option>
                                      <option value="2">Ektor</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">SS</option>
                                      <option value="1">DS</option>
                                      <option value="2">WP</option>
                                      <option value="2">WG</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">left</option>
                                      <option value="1">right</option>
                                      <option value="2">double</i></option>
                                      <option value="2">up</option>
                                    </select>
								</td>

								<td>


								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>

								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							</tbody>
							</table>



	</div>

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}
</script>
<!-- END MAIN JS -->
