<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>

		<li>
			<a href="#/inspection/report.html">Inspection Report</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
		<a href="#/job/inspection/add.html">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="icon-ok"></i> Save Changes
			</button>
        </a>
		</div>
	</div>

</div>
<h3 class="page-title">
	Westfield Bondi Junction <small>Inspection Report</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">


	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey-silver">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-edit"></i>Assets in shops
							</div>
							<div class="tools">
<a href="" class="collapse" data-original-title="" title="">
								</a>
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">

									<div class="col-md-12">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
													Print </a>
												</li>
												<li>
													<a href="#">
													Save as PDF </a>
												</li>
												<li>
													<a href="#">
													Export to Excel </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>Fitting Number</th>
								<th>Fitting Type</th>
								<th>Direction</th>
								<th>Level</th>
								<th>Area</th>
								<th>Shop</th>
								<th>Switch Board</th>
								<th>Commnets</th>
								<th>Pass / Fail</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									 <input class="form-control" type="text" value="" placeholder="Fitting Number"/>
								</td>
								<td>

									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Exit</option>
                                      <option value="1">Exit Jumbo</option>
                                      <option value="2">Owl</option>
                                      <option value="2">Flood</option>
                                      <option value="2">1x18w</option>
                                      <option value="2">2x18w</option>
                                      <option value="2">1x24w</option>
                                      <option value="2">2x24w</option>
                                      <option value="2">1x36w</option>
                                      <option value="2">2x36w</option>
                                      <option value="2">1x58w</option>
                                      <option value="2">2x58w</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">left</option>
                                      <option value="1">right</option>
                                      <option value="2">double</i></option>
                                      <option value="2">up</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Level 1</option>
                                      <option value="1">Level 2</option>
                                      <option value="2">Level 3</option>
                                    </select>
								</td>
								<td class="center">
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">Area 1</option>
                                      <option value="1">Area 2</option>
                                      <option value="2">Area 3</option>
                                    </select>
								</td>
								<td class="center">
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">Shop 1</option>
                                      <option value="1">Shop 2</option>
                                      <option value="2">Shop 3</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">YES</option>
                                      <option value="1">YES - not working</option>
                                      <option value="2">NO</option>
                                    </select>
								</td>
								<td>
									 <input class="form-control" type="text" value="" placeholder="Comments"/>
								</td>
								<td>
								<select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">All</option>
                                      <option value="1" >Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">Fail B</option>
                                      <option value="2">N/A</option>
                                    </select>

								</td>
							</tr>
							<tr>
								<td>5555555</td>
								<td>Exit QF Famco SS</td>
								<td><i class="icon-arrow-left"></i></td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>Shop 1</td>
								<td>yes</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>5555555</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>
								<td>
									 Shop 1
								</td>
								<td>
									 yes
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->

		<!-- END EXAMPLE TABLE PORTLET-->


	</div>
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey-silver">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-edit"></i>Assets in Common Areas
							</div>
							<div class="tools">
<a href="" class="collapse" data-original-title="" title="">
								</a>
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-12">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
													Print </a>
												</li>
												<li>
													<a href="#">
													Save as PDF </a>
												</li>
												<li>
													<a href="#">
													Export to Excel </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Fitting Number
								</th>
								<th>
									 Fitting Type
								</th>

								<th>
									 Direction
								</th>
								<th>
									 Level
								</th>
								<th>
									 Area
								</th>
								<th>
									 Switch Board
								</th>
								<th>
									 Commnets
								</th>
								<th>
									 Pass / Fail
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									 <input class="form-control" type="text" value="" placeholder="Fitting Number"/>
								</td>
								<td>

									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Exit</option>
                                      <option value="1">Exit Jumbo</option>
                                      <option value="2">Owl</option>
                                      <option value="2">Flood</option>
                                      <option value="2">1x18w</option>
                                      <option value="2">2x18w</option>
                                      <option value="2">1x24w</option>
                                      <option value="2">2x24w</option>
                                      <option value="2">1x36w</option>
                                      <option value="2">2x36w</option>
                                      <option value="2">1x58w</option>
                                      <option value="2">2x58w</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">left</option>
                                      <option value="1">right</option>
                                      <option value="2">double</i></option>
                                      <option value="2">up</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Level 1</option>
                                      <option value="1">Level 2</option>
                                      <option value="2">Level 3</option>
                                    </select>
								</td>
								<td class="center">
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">Area 1</option>
                                      <option value="1">Area 2</option>
                                      <option value="2">Area 3</option>
                                    </select>
								</td>
								<td>
									 <input class="form-control" type="text" value="" placeholder="Switchboard Number"/>
								</td>
								<td>
									 <input class="form-control" type="text" value="" placeholder="Comments"/>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">All</option>
                                      <option value="1">Pass</option>
                                      <option value="2">Fail</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>5555555</td>
								<td>Exit QF Famco SS</td>
								<td><i class="icon-arrow-left"></i></td>
								<td>Level 1</td>
								<td>Area 1</td>
								<td>2223333</td>

								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>23423432</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>
									 Area 1
								</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td>
									 5555555
								</td>
								<td>
									 Exit QF Famco SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
								<td>
									 Level 1
								</td>
								<td>Area 1</td>

								<td>
									 23423432
								</td>
								<td>
									 -
								</td>
								<td>
									<select class="form-control">
                                      <option value="1" selected="selected">Pass</option>
                                      <option value="2">Fail</option>
                                      <option value="2">N/A</option>
                                    </select>
								</td>
							</tr>
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->

		<!-- END EXAMPLE TABLE PORTLET-->


	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}
</script>
<!-- END MAIN JS -->
