<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-building-o"></i>
			<a href="#/shopping_centres.html">Shopping Centres</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/shopping_centres/shopping_centre.html">Westfield Bondi Junctions</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/shopping_centre/shops.html">Shops</a>
		</li>
	</ul>

</div>
<h3 class="page-title">
	Westfield Bondi Junction <small>shops</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">
	<div class="col-md-4">
		<div class="portlet light bordered" style="display: block;margin-bottom:0px;">
            <div class="portlet-title">
				<div class="caption">
					<img src="assets/westfield-logo.jpg" style="max-width: 20px;">
					<span class="caption-subject bold uppercase"> Westfield - Bondi Junction</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#">
					<i class="icon-map"></i>
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<img src="assets/bondijunction.jpg" class="img-responsive">
			</div>
        </div>
        <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
            <ul class="list-group">
                <li class="list-group-item">
									 <i class="fa fa-map-marker"></i> Address:
                </li>
                <li class="list-group-item">
									 500 Oxford Street, <br>Bondi Junction NSW 2022
                </li>
                <li class="list-group-item">
									 <i class="fa fa-phone"></i> Phone number:
                </li>
                <li class="list-group-item">
									 (02) 9947 8000
                </li>
            </ul>
         </div>
	</div>

	<div class="col-md-8">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-edit"></i>Shops
							</div>
							<div class="tools">

								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<button id="sample_editable_1_new" class="btn green">
											Add New <i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
													Print </a>
												</li>
												<li>
													<a href="#">
													Save as PDF </a>
												</li>
												<li>
													<a href="#">
													Export to Excel </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Shop Name
								</th>
								<th>
									 Level
								</th>
								<th>
									 Area
								</th>
								<th>
									 Contact
								</th>
								<th>
									 Edit
								</th>
								<th>
									 Delete
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									 <input class="form-control" type="text" value="" placeholder="Shop Name"/>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Level 1</option>
                                      <option value="1">Level 2</option>
                                      <option value="2">Level 3</option>
                                    </select>
								</td>
								<td class="center">
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">Area 1</option>
                                      <option value="1">Area 2</option>
                                      <option value="2">Area 3</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected"></option>
                                      <option value="0">Contact 1</option>
                                      <option value="1">Contact 2</option>
                                      <option value="2">Contact 3</option>
                                    </select>
								</td>
								<td>
									<a class="edit" href="javascript:;">
									Save </a>
								</td>
								<td>
									<a class="delete" href="javascript:;">
									Cancel </a>
								</td>
							</tr>
							<tr>
								<td>
									 Shop 1
								</td>
								<td>
									 Level 1
								</td>
								<td class="center">
									 Food prep area
								</td>
								<td>
									 Alex Nilson
								</td>
								<td>
									<a class="edit" href="javascript:;">
									Edit </a>
								</td>
								<td>
									<a class="delete" href="javascript:;">
									Delete </a>
								</td>
							</tr>
							<tr>
								<td>
									 Shop 1
								</td>
								<td>
									 Level 1
								</td>
								<td class="center">
									 Food prep area
								</td>
								<td>
									 Alex Nilson
								</td>
								<td>
									<a class="edit" href="javascript:;">
									Edit </a>
								</td>
								<td>
									<a class="delete" href="javascript:;">
									Delete </a>
								</td>
							</tr>
							<tr>
								<td>
									 Shop 1
								</td>
								<td>
									 Level 1
								</td>
								<td class="center">
									 Food prep area
								</td>
								<td>
									 Alex Nilson
								</td>
								<td>
									<a class="edit" href="javascript:;">
									Edit </a>
								</td>
								<td>
									<a class="delete" href="javascript:;">
									Delete </a>
								</td>
							</tr>
							<tr>
								<td>
									 Shop 1
								</td>
								<td>
									 Level 1
								</td>
								<td class="center">
									 Food prep area
								</td>
								<td>
									 Alex Nilson
								</td>
								<td>
									<a class="edit" href="javascript:;">
									Edit </a>
								</td>
								<td>
									<a class="delete" href="javascript:;">
									Delete </a>
								</td>
							</tr>
							<tr>
								<td>
									 Shop 1
								</td>
								<td>
									 Level 1
								</td>
								<td class="center">
									 Food prep area
								</td>
								<td>
									 Alex Nilson
								</td>
								<td>
									<a class="edit" href="javascript:;">
									Edit </a>
								</td>
								<td>
									<a class="delete" href="javascript:;">
									Delete </a>
								</td>
							</tr>
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->

		<!-- END EXAMPLE TABLE PORTLET-->


	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}
</script>
<!-- END MAIN JS -->
