<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Assets</a>
		</li>
	</ul>
    <div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="icon-plus"></i> Add New Custom Field
			</button>
		</div>
	</div>

</div>
<h3 class="page-title">
	Assets
</h3>
<!-- END PAGE HEADER-->

<!-- CONTACT LIST-->
<div class="row ui-sortable" id="sortable_portlets" style="min-height:2000px">
				
				
				<div class="col-md-12 column sortable">
					<div class="portlet portlet-sortable light bordered">
						<div class="portlet-title tabbable-line">
							<div class="caption">
								<i class="icon-pin font-yellow-lemon"></i>
								<span class="caption-subject bold font-yellow-lemon uppercase">
								Tabs </span>
							</div>
							<ul class="nav nav-tabs">
								<li>
									<a href="#portlet_tab2" data-toggle="tab">
									Tab 2 </a>
								</li>
								<li class="active">
									<a href="#portlet_tab1" data-toggle="tab">
									Tab 1 </a>
								</li>
							</ul>
						</div>
						<div class="portlet-body">
							<div class="tab-content">
								<div class="tab-pane active" id="portlet_tab1">
									<h4>Tab 1 Content</h4>
									<p>
										 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.ut laoreet dolore magna ut laoreet dolore magna. ut laoreet dolore magna. ut laoreet dolore magna.
									</p>
								</div>
								<div class="tab-pane" id="portlet_tab2">
									<h4>Tab 2 Content</h4>
									<p>
										 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
									</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="portlet portlet-sortable box blue-hoki" style="display: block;">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>Portlet
							</div>
							<div class="actions">
								<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-pencil"></i> Edit </a>
								<div class="btn-group">
									<a class="btn btn-sm btn-default" href="#" data-toggle="dropdown">
									<i class="fa fa-user"></i> User <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#">
											<i class="fa fa-pencil"></i> Edit </a>
										</li>
										<li>
											<a href="#">
											<i class="fa fa-trash-o"></i> Delete </a>
										</li>
										<li>
											<a href="#">
											<i class="fa fa-ban"></i> Ban </a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
											<i class="i"></i> Make admin </a>
										</li>
									</ul>
								</div>
								<a class="btn btn-sm btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""></a>
							</div>
						</div>
						<div class="portlet-body">
							 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis. eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis.
						</div>
					</div><div class="portlet portlet-sortable light bg-inverse">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-puzzle font-red-flamingo"></i>
								<span class="caption-subject bold font-red-flamingo uppercase">
								Tools </span>
								<span class="caption-helper">actions...</span>
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
								</a>
								<a href="" class="reload" data-original-title="" title="">
								</a>
								<a href="" class="fullscreen" data-original-title="" title="">
								</a>
								<a href="" class="remove" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<h4>Heading text goes here...</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur.
							</p>
						</div>
					</div>
					<!-- empty sortable porlet required for each columns! -->
					<div class="portlet portlet-sortable-empty">
					</div>
				</div>
			</div>
<!-- END CONTACT LIST-->

<script>
//	

		/* Init Metronic's core jquery plugins and layout scripts */
		$(document).ready(function() {   
			Metronic.init(); // Run metronic theme
			Metronic.setAssetsPath('../../../assets/'); // Set the assets folder path		
             PortletDraggable.init();
		});
	
//jQuery(document).ready(function() {       
//   // initiate layout and plugins
////  Demo.init(); // init demo features
// 
//    });

</script>