<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Assets</a>
		</li>
	</ul>
    <div class="page-toolbar">

	</div>

</div>
<h3 class="page-title">
	Assets
</h3>
<!-- END PAGE HEADER-->

<!-- CONTACT LIST-->
<div class="row">
		<div class="col-sm-12" >
		
		
		<!-- TABLES -->
       
<div class="portlet box grey">
                <div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Fitting Number
							</div>
							<div class="tools">
							    <i class="fa fa-lock"></i>
							</div>
						</div>
            </div>







          		    
<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Fitting Type
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
							</div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-default" data-close-others="true">
                                 <i class="icon-plus"></i> Add New Fitting Type
                                </button>
                            </div>
						</div>

						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
							<thead class="flip-content">
							<tr>
								<th width="50%">
									 Name
								</th>
								<th>
									Short Name 
								</th>
								<th>
									Actions
								</th>
								
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>Exit</td>
								<td>Exit</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>Exit Jumbo</td>
								<td>Exit Jumbo</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>Owl</td>
								<td>Owl</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>Flood</td>
								<td>Flood</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>Spitfire</td>
								<td>Spitfire</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>1x18w</td>
								<td>1x18w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>2x18w</td>
								<td>2x18w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>1x24w</td>
								<td>1x24w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>2x24w</td>
								<td>2x24w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>1x36w</td>
								<td>1x36w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>2x36w</td>
								<td>2x36w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>1x58w</td>
								<td>1x58w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							<tr>
								<td>2x58w</td>
								<td>2x58w</td>
								<td><i class="fa fa-edit"></i></td>
							</tr>
							
							</tbody>
							</table>
                            </div></div>
					</div>
     					
<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Asset Type
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
							</div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-default" data-close-others="true">
                                 <i class="icon-plus"></i> Add New Asset Type
                                </button>
                            </div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th width="50%">Name</th>
									<th>Short Name</th>
									<th>Actions</th>

								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Quickfit</td>
									<td>QF</td>
								    <td><i class="fa fa-edit"></i></td>

								</tr>
								<tr>
									<td>Blade</td>
									<td>Blade</td>
								    <td><i class="fa fa-edit"></i></td>

								</tr>
								<tr>
									<td>Box</td>
									<td>Box</td>
								    <td><i class="fa fa-edit"></i></td>

								</tr>
								<tr>
									<td>Fluro</td>
									<td>Fluro</td>
								    <td><i class="fa fa-edit"></i></td>

								</tr>
								<tr>
									<td>LED</td>
									<td>LED</td>
								    <td><i class="fa fa-edit"></i></td>

								</tr>
								</tbody>
								</table>
							</div>
						</div>
					</div>
      					
<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Brand
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
							</div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-default" data-close-others="true">
                                 <i class="icon-plus"></i> Add New Brand
                                </button>
                            </div>
						</div>
    <div class="portlet-body" style="display: block;">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th width="50%">Name</th>
									<th>Short Name</th>
									<th>Actions</th>
									
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Famco</td>
									<td>Famco</td>
								    <td><i class="fa fa-edit"></i></td>
								</tr>
								<tr>
									<td>Legrand</td>
									<td>Legrand</td>
								    <td><i class="fa fa-edit"></i></td>
								</tr>
								<tr>
									<td>Stanilite</td>
									<td>Stanilite</td>
								    <td><i class="fa fa-edit"></i></td>
								</tr>
								<tr>
									<td>Kwiklite</td>
									<td>Kwiklite</td>
								    <td><i class="fa fa-edit"></i></td>
								</tr>
								<tr>
									<td>Clevertronics</td>
									<td>Clevertronics</td>
								    <td><i class="fa fa-edit"></i></td>
								</tr>
								<tr>
									<td>Ektor</td>
									<td>Ektor</td>
								    <td><i class="fa fa-edit"></i></td>
								</tr>
								</tbody>
								</table>
							</div>
						</div>
					</div>		
               
<div class="portlet box yellow">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Style
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
							</div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-default" data-close-others="true">
                                 <i class="icon-plus"></i> Add New Style
                                </button>
                            </div>
						</div>
						<div class="portlet-body" style="display: block;">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th>Name</th>
									<th>Short Name</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Single Sided</td>
									<td>SS</td>
								</tr>
								<tr>
									<td>Double Sided</td>
									<td>DS</td>
								</tr>
								<tr>
									<td>?</td>
									<td>WP</td>
								</tr>
								<tr>
									<td>?</td>
									<td>WG</td>
								</tr>
								</tbody>
								</table>
							</div>
						</div>
					</div>
    				
<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Direction
							</div>
							<div class="tools">
							<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<i class="fa fa-lock"></i>
							</div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-default" data-close-others="true">
                                 <i class="icon-plus"></i> Add New Direction
                                </button>
                            </div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th scope="col" style="width:450px !important">
										 Name
									</th>
									<th scope="col">
										 Short Name
									</th>
									<th scope="col">
										 Icon
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Left</td>
									<td>L</td>
                                    <td><i class="icon-arrow-left"></i></td>
								</tr>
								<tr>
									<td>Right</td>
									<td>R</td>
                                    <td><i class="icon-arrow-right"></i></td>
								</tr>
								<tr>
									<td>Double</td>
									<td>D</td>
                                    <td><i class="icon-arrow-left"></i><i class="icon-arrow-right"></i></td>
								</tr>
								<tr>
									<td>Streight</td>
									<td>S</td>
                                    <td><i class="icon-arrow-up"></i></td>
								</tr>
								
								</tbody>
								</table>
							</div>
						</div>
					</div>
  				
<div class="portlet box grey">
                    <div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Location
							</div>
							<div class="tools">
								<i class="fa fa-lock"></i>
							</div>
						</div>
            </div>	
                           
<div class="portlet box grey">
                <div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Switch Board Number
							</div>
							<div class="tools">
								<i class="fa fa-lock"></i>
							</div>
						</div>
</div>		
			
<div class="portlet box grey">
                <div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Circut Number
							</div>
							<div class="tools">
								<i class="fa fa-lock"></i>
							</div>
						</div>
</div>		
                            
<div class="portlet box grey">
                <div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>Comments
							</div>
							<div class="tools">
								<i class="fa fa-lock"></i>
							</div>
						</div>
</div>		

				<!-- END TABLES -->
		
		
		
		<!-- PORTLETS -->
		<!-- END PORTLETS -->
		</div>
</div>

<!-- END CONTACT LIST-->

<script>
//	
//jQuery(document).ready(function() {       
   // initiate layout and plugins
//  Demo.init(); // init demo features
//  PortletDraggable.init();
//    });

</script>
