<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Clients</a>
		</li>
	</ul>
    <div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="icon-plus"></i> Add New Clinet
			</button>
		</div>
	</div>

</div>
<!-- END PAGE HEADER-->
<h3>
    Clients
</h3>
<div class="row">

    <div class="col-md-4">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;">
            <div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold uppercase"> Westfield</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#clients/shopping_centres">
					<i class="icon-pencil"></i>
					</a>
				</div>
			</div>
        </div>
        <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centres</button>
	    	<button type="button" class="btn btn-default btn-block">Price List</button>
         </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;">
            <div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold uppercase"> Stockland</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#clients/shopping_centres">
					<i class="icon-pencil"></i>
					</a>
				</div>
			</div>
        </div>
        <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
    		<button type="button" class="btn btn-default btn-block">Shopping Centres</button>
	    	<button type="button" class="btn btn-default btn-block">Price List</button>
         </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;">
            <div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold uppercase"> DFO</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#clients/shopping_centres">
					<i class="icon-pencil"></i>
					</a>
				</div>
			</div>
        </div>
        <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
    		<button type="button" class="btn btn-default btn-block">Shopping Centres</button>
	    	<button type="button" class="btn btn-default btn-block">Price List</button>
         </div>
    </div>











</div>

<script>
	//shoppingcentres.init(); // init todo page
</script>
