<!-- BEGIN PAGE HEADER-->

<h3 class="page-title">
	Dashboard - Jobs Overview
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">



	<!-- BEGIN DASHBOARD STATS -->
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-madison">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						1 Inspection
					</div>
					<div class="desc">
						In progress
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-madison">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						2 Inspections
					</div>
					<div class="desc">
						Upcoming in next month
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat red-intense">
				<div class="visual">
					<i class="icon-notebook"></i>
				</div>
				<div class="details">
					<div class="number">
						2 Reports
					</div>
					<div class="desc">
						Awaits approval
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						2 Repairs
					</div>
					<div class="desc">
						In progress
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- END DASHBOARD STATS -->
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-share font-green-haze"></i>
						<span class="caption-subject font-green-haze bold uppercase"> Upcoming tasks</span>
					</div>
					<div class="actions">

						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
						<ul class="feeds">
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Mt. Gruitt
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
								<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-warning">
													<i class="icon-calendar"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													WESTFIELD - Burwood
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											14 Jun
										</div>
									</div>
								</a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Chatswood
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            18 Jul
                                        </div>
                                    </div>
                                </a>
							</li>

						</ul>
					</div>

				</div>
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-share font-green-haze"></i>
						<span class="caption-subject font-green-haze bold uppercase">Awaiting approval</span>
					</div>
					<div class="actions">

						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
						<ul class="feeds">

							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Miranda
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Figtree
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Feb
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Mar
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Bondi Junction
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            12 Apr
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
								<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-danger">
													<i class="icon-notebook"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													WESTFIELD - Burwood
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											14 Jun
										</div>
									</div>
								</a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="icon-notebook"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Chatswood
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            18 Jul
                                        </div>
                                    </div>
                                </a>
							</li>
							<li>
								<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-warning">
													<i class="icon-calendar"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													WESTFIELD - Burwood
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											14 Feb
										</div>
									</div>
								</a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Chatswood
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            18 Feb
                                        </div>
                                    </div>
                                </a>
							</li>
							<li>
								<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-warning">
													<i class="icon-calendar"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													WESTFIELD - Burwood
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											14 June
										</div>
									</div>
								</a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    WESTFIELD - Chatswood
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            18 July
                                        </div>
                                    </div>
                                </a>
							</li>

						</ul>
					</div>

				</div>
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>
	</div>

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->
