<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>

		<li>
			<a href="#/inspections/add.html">Add New</a>
		</li>
	</ul>
	<div class="page-toolbar">
					<div class="btn-group pull-right open">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
						Actions <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li>
								<a href="#/inspection/report.html">View Assets</a>
							</li>
							<li>
								<a href="#/job/inspection/summary.html">Create Report</a>
							</li>

						</ul>
					</div>
				</div>
</div>
<h3 class="page-title">
	Inspections <small>add new</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
	    <form action="#" class="form-horizontal form-bordered">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-calendar blue-madison"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Fill out details:</span>
				</div>

			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
			<div class="form-body">
			    <div class="form-group">
					<label class="control-label col-md-3">Choose Client</label>
					<div class="col-md-3">
					<select class="form-control">
                      <option value="" class="" selected="selected"></option>
                      <option value="0">Westfield</option>
                      <option value="1">Stockland</option>
                      <option value="2">DFO</option>
				    </select>
				    <span class="help-block">
					Choose shopping centre </span>
					</div>
            </div>
			    <div class="form-group">
					<label class="control-label col-md-3">Choose Shopping Centre</label>
					<div class="col-md-3">
					<select class="form-control">
                      <option value="" class="" selected="selected"></option>
                      <option value="0">Westfield Bondi</option>
                      <option value="1">Westfield Miranda</option>
                      <option value="2">Westfield Parramatta</option>
                      <option value="3">Westfield Parramatta</option>
                      <option value="4">Westfield Parramatta</option>
                      <option value="5">Westfield Parramatta</option>
				    </select>
				    <span class="help-block">
					Choose shopping centre </span>
					</div>
				</div>
			    <div class="form-group">
					<label class="control-label col-md-3">Inspection type</label>
					<div class="col-md-3">
					<select class="form-control">
                      <option value="" class="" selected="selected"></option>
                      <option value="0">6 Mth</option>
                      <option value="1">Annual</option>
				    </select>
				    <span class="help-block">
					6 Mth / Annual Test date</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Select Start Date</label>
					<div class="col-md-3">
					<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
					<span class="help-block">
					Set start date </span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Select End Date</label>
					<div class="col-md-3">
					<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
					<span class="help-block">
					Set end date </span>
					</div>
				</div>
			</div>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light bordered form-fit">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-users blue-madison"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Choose technicians:</span>
				</div>

			</div>
			<div class="portlet-body form">
		<div class="row"><div class="col-md-offset-1 col-md-10">
					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light">
							<thead>
								<tr class="uppercase">
								    <th>Select</th>
									<th colspan="2">
										Name
									</th>
									<th>
										Role
									</th>
								</tr>
							</thead>
							<tr>
							    <td>
							        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container">
							        <input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div>

								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout/img/avatar4.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">Brain</a>
								</td>
								<td>
									Technician
								</td>
							</tr>
							<tr>
							    <td>
							        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container">
							        <input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div>

							    </td>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout/img/avatar5.jpg">
								<td>
									<a href="javascript:;" class="primary-link">Nick Kloss</a>
								</td>
								</td>

								<td>
									Administrator
								</td>

							</tr>
							</tr>
							<tr>
                                <td>
							        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container">
							        <input type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div>

							    </td>

								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout/img/avatar6.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">Tim</a>
								</td>

								<td>
									Technician
								</td>

							</tr>
                            <tr>
							    <td>
							        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container">
							        <input type="checkbox" class="make-switch" checked="" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>"></div></div>
							    </td>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout/img/avatar7.jpg">
                                </td>
                                <td>
                                <a href="javascript:;" class="primary-link">Tom Smith</a>
                                </td>

                                <td>Technician</td>
                            </tr>

						</table>
					</div>
        </div></div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple"><i class="fa fa-check"></i> Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>
			</div>
		</div>
		<!-- END PORTLET-->
        </form>
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	ComponentsPickers.init(); // init todo page
</script>
