<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			Repairs
		</li>
	</ul>
    <div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="icon-plus"></i> Schedule new repairs
			</button>
		</div>
	</div>
</div>
<h3 class="page-title">
	Repairs
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						1 Repairs
					</div>
					<div class="desc">
						In progress
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						2 Repairs
					</div>
					<div class="desc">
						Upcoming
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						2 Repairs
					</div>
					<div class="desc">
						Submited for Approval
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						2 Repairs
					</div>
					<div class="desc">
						Approved
					</div>
				</div>
				<a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>

	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box yellow">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-calendar"></i>Repairs
				</div>
				<div class="tools">
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th>
								Shopping Centre
							</th>
							<th>
								Date
							</th>
							<th>
								Status
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Submited For Approval</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Submited For Approval</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Submited For Approval</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Submited For Approval</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Submited For Approval</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Scheduled</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Scheduled</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Scheduled</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>Scheduled</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>
						<tr><td>Westfield Bondi</td><td>20 Jan 2015</td><td>In progress</td><td><a href="#/repairs/repair.html"><i class="fa fa-edit"></i></a></td></tr>

					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->

	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}
</script>
<!-- END MAIN JS -->
