<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-building-o"></i>
			<a href="#/shopping_centres.html">Shopping Centres</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/shopping_centres/shopping_centre.html">Westfield Bondi Junction</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/shopping_centre/plan">Plan</a>
		</li>
	</ul>

</div>
<h3 class="page-title">
	Westfield - Bondi <small>building plan</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div class="row">
	<div class="col-md-8">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-blue-madison"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Shopping Centre Plan</span>
				</div>
				<div class="tools">

				</div>
			</div>
			<div class="portlet-body">
				<div id="tree_3" class="tree-demo">
				</div>
			</div>
			<br><br>
			<div class="form-group">
								<label class="control-label">Level / Area Name</label>
								<input type="text" placeholder="Level 1" class="form-control">
							</div>
			<div class="btn-group">
														<button type="button" class="btn btn-default"><i class="fa fa-plus"></i> Add Level</button>
														<button type="button" class="btn btn-default"><i class="fa fa-plus"></i> Add Area</button>
														<button type="button" class="btn btn-default"><i class="fa fa-edit"></i> Rename</button>
														<button type="button" class="btn btn-default"><i class="fa fa-remove"></i> Delete</button>

													</div>


		</div>
	</div>
	<div class="col-md-4">
		<div class="portlet light bordered" style="display: block;margin-bottom:0px;">
            <div class="portlet-title">
				<div class="caption">
					<img src="assets/westfield-logo.jpg" style="max-width: 20px;">
					<span class="caption-subject bold uppercase"> Westfield - Bondi Junction</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#">
					<i class="icon-map"></i>
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<img src="assets/bondijunction.jpg" class="img-responsive">
			</div>
        </div>
        <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
            <ul class="list-group">
                <li class="list-group-item">
									 <i class="fa fa-map-marker"></i> Address:
                </li>
                <li class="list-group-item">
									 500 Oxford Street, <br>Bondi Junction NSW 2022
                </li>
                <li class="list-group-item">
									 <i class="fa fa-phone"></i> Phone number:
                </li>
                <li class="list-group-item">
									 (02) 9947 8000
                </li>
            </ul>
         </div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	UITree.init(); // init todo page
</script>
