<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-building-o"></i>
			<a href="#/shopping_centres.html">Shopping Centres</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Westfield Bondi Junction</a>
		</li>
	</ul>
    <div class="page-toolbar">
		<div class="btn-group pull-right">
		<a href="#/shopping_centre/plan.html">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="icon-map"></i> Edit plan
			</button>
        </a>
		<a href="#/shopping_centre/shops.html">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="fa fa-building"></i> Shops
			</button>
        </a>
		<a href="#/shopping_centre/assets.html">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="fa fa-lightbulb-o"></i> Assets
			</button>
        </a>
		</div>
	</div>

</div>
<!-- END PAGE HEADER-->
<h3>
    Westfield - Bondi Junction
</h3>
<div class="row">

    <div class="col-md-4">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;">
            <div class="portlet-title">
				<div class="caption">
					<img src="assets/westfield-logo.jpg" style="max-width: 20px;">
					<span class="caption-subject bold uppercase"> Westfield - Bondi Junction</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#/shopping_centre/plan.html">
					<i class="icon-map"></i>
					</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="#/shopping_centre/shops.html">
					<i class="fa fa-building"></i>
					</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="#/shopping_centre/assets.html">
					<i class="fa fa-lightbulb-o"></i>
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<img src="assets/bondijunction.jpg" class="img-responsive">
			</div>
        </div>
        <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
            <ul class="list-group">
                <li class="list-group-item">
									 <i class="fa fa-map-marker"></i> Address:
                </li>
                <li class="list-group-item">
									 500 Oxford Street, <br>Bondi Junction NSW 2022
                </li>
                <li class="list-group-item">
									 <i class="fa fa-phone"></i> Phone number:
                </li>
                <li class="list-group-item">
									 (02) 9947 8000
                </li>
            </ul>
         </div>
    </div>



    <div class="col-md-8">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="dashboard-stat blue-madison">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						Inspections
					</div>
					<div class="desc">
						In progress
					</div>
				</div>
				<a class="more" href="#">
				View Inspection <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="dashboard-stat red-intense">
				<div class="visual">
					<i class="icon-notebook"></i>
				</div>
				<div class="details">
					<div class="number">
						Reports
					</div>
					<div class="desc">
						Last created on 12.12.2013
					</div>
				</div>
				<a class="more" href="#">
				View last report <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="dashboard-stat yellow">
				<div class="visual">
					<i class="icon-calendar"></i>
				</div>
				<div class="details">
					<div class="number">
						Repairs
					</div>
					<div class="desc">
						Last approved on 12.02.2014
					</div>
				</div>
				<a class="more" href="#">
				View last summary <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
    </div>
<!-- BEGIN PORTLET-->
			<div class="portlet light "><div class="portlet-title"><div class="caption"><i class="icon-users"></i><span class="caption-subject bold uppercase"> Related contacts</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="fa fa-plus"></i></a></div></div><div class="portlet-body"><div class="table-scrollable table-scrollable-borderless"><table class="table table-hover table-light"><thead><tr class="uppercase"><th colspan="2">Contact</th><th>Mobile Phone</th><th>Stationary Phone</th><th>Email</th><th>Actions</th></tr></thead><tr><td class="fit"><img class="user-pic" src="../../../assets/admin/layout/img/avatar4.jpg"></td><td><a href="javascript:;" class="primary-link">Brain</a> </td><td>0 450 000 001</td><td>9999 8888</td><td><span class="bold font-green-haze">brian@mail.now</span></td><td><a href="#/contacts/contact.html"><i class="icon-pencil"></i></a> <i class="icon-trash"></i></td></tr><tr><td class="fit"><img class="user-pic" src="../../../assets/admin/layout/img/avatar5.jpg"><td><a href="javascript:;" class="primary-link">Nick Kloss</a></td></td><td>0 450 000 002</td><td>9999 8888</td><td><span class="bold font-green-haze">nick@mail.now</span></td><td><a href="#/contacts/contact.html"><i class="icon-pencil"></i></a> <i class="icon-trash"></i></td></tr></tr><tr><td class="fit"><img class="user-pic" src="../../../assets/admin/layout/img/avatar6.jpg"></td><td><a href="javascript:;" class="primary-link">Tim</a></td><td>0 450 000 003</td><td>8888 9999</td><td><span class="bold font-green-haze">tim@email.com</span></td><td><a href="#/contacts/contact.html"><i class="icon-pencil"></i></a> <i class="icon-trash"></i></td></tr><tr><td class="fit"><img class="user-pic" src="../../../assets/admin/layout/img/avatar7.jpg"></td><td><a href="javascript:;" class="primary-link">Tom Smith</a></td> <td>0 444 444 444</td><td>4444 4444</td><td><span class="bold font-green-haze">tom@mail.com</span></td><td><a href="#/contacts/contact.html"><i class="icon-pencil"></i></a> <i class="icon-trash"></i></td></tr></table></div></div></div>
<!-- END PORTLET-->


    </div>
</div>
<div class="row">
        <div class="col-md-4 col-sm-12">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet solid blue-madison">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-calendar"></i>
						<span class="caption-subject bold uppercase"> Inspections</span>
					</div>
										<div class="actions">
<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="scroller" style="height: 300px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
						<ul class="feeds">
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info blue-madison">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    30.01.2015
                                                    <span class="label label-sm label-warning ">View more <i class="fa fa-share"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            In&nbsp;progress
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
						</ul>
					</div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 300px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>

				</div>
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>
		<div class="col-md-4 col-sm-12">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet solid red ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-notebook"></i>
						<span class="caption-subject bold uppercase"> Reports</span>
					</div>
					<div class="actions">
<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="scroller" style="height: 300px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
<ul class="feeds">
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="icon-notebook"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    30.01.2015
                                                    <span class="label label-sm label-warning ">View more <i class="fa fa-share"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Open
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-notebook"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-notebook"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-notebook"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-notebook"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
						</ul>
					</div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 300px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>

				</div>
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>
		<div class="col-md-4 col-sm-12">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet solid yellow">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-calendar"></i>
						<span class="caption-subject bold uppercase"> Repairs</span>
					</div>
					<div class="actions">
<a href="#" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i> Add </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="scroller" style="height: 300px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
						<ul class="feeds">
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    30.01.2015
                                                    <span class="label label-sm label-warning ">View more <i class="fa fa-share"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Submited
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014
                                                    <span class="label label-sm label-danger ">Not approved</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Submited
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
							<li>
							    <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    10.10.2014

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            Approved
                                        </div>
                                    </div>
				                </a>
							</li>
						</ul>
					</div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 300px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>

				</div>
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>

</div>


			</div>












</div>

<script>
	//Index.init();
	//Tasks.initDashboardWidget();
</script>
