<!-- BEGIN PAGE HEADER-->
<style>
.page-container-bg-solid .page-content {background-color: #fff;}

</style>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/clients">Clients</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Westfield</a>
		</li>
	</ul>
					<div class="btn-group pull-right">
						<a class="btn btn-md btn-default" href="#" style="margin-top:3px;">
						<i class="fa fa-plus"></i>
						<span class="hidden-480"> Add Shopping Centre </span>
						</a>
					</div>

</div>
<!-- END PAGE HEADER-->


<div class="row">

    <tabset>
	   <tab heading="Shopping Centre">
               <div class="col-md-3">
            <div class="portlet light bordered" style="display: block;margin-bottom:0px;">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase"> Bondi Junction</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="#/clients/shopping_centres/shopping_centre/dashboard">
                        <i class="icon-pencil"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <img src="assets/bondijunction.jpg" class="img-responsive">
                </div>
                <br>
	    	<button type="button" class="btn btn-default btn-block" onclick="window.location.href='#/clients/shopping_centres/shopping_centre/dashboard'">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#/clients/shopping_centres/shopping_centre/plan'">Shopping Centre Plan</button>
            </div>
            <div class="well" style="border: 1px solid #e1e1e1;border-top:0px;">
                <ul class="list-group">
                    <li class="list-group-item">
                                         <i class="icon-calendar"></i> Last Insp. <span class="pull-right">
                                        24 Mar 2014</span>
                    </li>
                    <li class="list-group-item">
                                         <i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">
                                        not scheduled </span>
                    </li>
                    <li class="list-group-item">
                                         <i class="icon-calendar"></i> Last Rep. <span class="pull-right">
                                        12 Mar 2014</span>
                    </li>
                    <li class="list-group-item">
                                         <i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">
                                        12 Dec 2014 </span>
                    </li>
                </ul>
             </div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Burwood</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#/clients/shopping_centres/shopping_centre"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/burwood.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block" onclick="window.location.href='#/clients/shopping_centres/shopping_centre/dashboard'">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#/clients/shopping_centres/shopping_centre/plan'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Chatswood</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/chatswood.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Eastgardens</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/eastgardens.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Figtree</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/figtree.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Hornsby</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/hornsby.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Hurstville</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/hurstville.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Miranda</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/hurstville.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Mt. Druitt</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/mtdruitt.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> North Rocks</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/northrocks.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Penrith</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/penrith.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Sydney</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/sydney.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Tuggerah</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/tuggerah.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Warrawong</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/warrawong.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>
        <div class="col-md-3">
        <div class="portlet light bordered" style="display: block;margin-bottom:0px;"><div class="portlet-title"><div class="caption"><span class="caption-subject bold uppercase"> Warringah Mall</span></div><div class="actions"><a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-pencil"></i></a></div></div><div class="portlet-body"><img src="assets/warringahmall.jpg" class="img-responsive"></div>                <br>
	    	<button type="button" class="btn btn-default btn-block">Overview</button>
            <button type="button" class="btn btn-default btn-block" onclick="window.location.href='#clients/shopping_centres'">Shopping Centre Plan</button>
            </div><div class="well" style="border: 1px solid #e1e1e1;border-top:0px;"><ul class="list-group"><li class="list-group-item"><i class="icon-calendar"></i> Last Insp. <span class="pull-right">24 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Insp. <span class="badge badge-danger">not scheduled </span></li><li class="list-group-item"><i class="icon-calendar"></i> Last Rep. <span class="pull-right">12 Mar 2014</span></li><li class="list-group-item"><i class="icon-calendar"></i> Next Rep. <span class="badge badge-success">12 Dec 2014 </span></li></ul></div>
        </div>

       </tab>
	   <tab heading="Pricelist">

      <div class="row" ng-controller="AdvancedDatatablesDemoCtrl">


	<div class="col-md-12">

		<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Fitting Type
								</th>
								<th>
									 Asset Type
								</th>
								<th>
									 Brand
								</th>
								<th>
									 Style
								</th>
								<th>
									 Direction
								</th>
								<th>
									 Price
								</th>
								<th>
									 Action
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>

								<td>

									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Exit</option>
                                      <option value="1">Exit Jumbo</option>
                                      <option value="2">Owl</option>
                                      <option value="2">Flood</option>
                                      <option value="2">1x18w</option>
                                      <option value="2">2x18w</option>
                                      <option value="2">1x24w</option>
                                      <option value="2">2x24w</option>
                                      <option value="2">1x36w</option>
                                      <option value="2">2x36w</option>
                                      <option value="2">1x58w</option>
                                      <option value="2">2x58w</option>
                                    </select>
								</td>
								<td>

									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">QF</option>
                                      <option value="1">Blade</option>
                                      <option value="2">Box</option>
                                      <option value="2">Fluro</option>
                                      <option value="2">Led</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">Famco</option>
                                      <option value="1">Legrand</option>
                                      <option value="2">Stanilite</option>
                                      <option value="2">Kwiklite</option>
                                      <option value="2">Clevertronics</option>
                                      <option value="2">Ektor</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">SS</option>
                                      <option value="1">DS</option>
                                      <option value="2">WP</option>
                                      <option value="2">WG</option>
                                    </select>
								</td>
								<td>
									 <select class="form-control">
                                      <option value="" class="" selected="selected" placeholder="...choose level"></option>
                                      <option value="0">left</option>
                                      <option value="1">right</option>
                                      <option value="2">double</i></option>
                                      <option value="2">up</option>
                                    </select>
								</td>

								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							<tr>
								<td>
									 Exit
								</td>
								<td>
									 QF
								</td>
								<td>
									 Famco
								</td>
								<td>
									 SS
								</td>
								<td>
									<i class="icon-arrow-left"></i>
								</td>
                                <td>$100.00</td>
								<td>
                                    <a href="#"><i class="fa fa-edit"></i> Edit</a>
								</td>
							</tr>
							</tbody>
							</table>



	</div>

</div>




      </tab>
    </tabset>

   

</div>




<script>
	//shoppingcentres.init(); // init todo page
</script>
