<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="icon-users"></i>
			<a href="#/users.html">Users</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">User</a>
		</li>
	</ul>


</div>
<h3 class="page-title">
	User
</h3>
<!-- END PAGE HEADER-->

<!-- CONTACT LIST-->
<div class="row">
		<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light profile-sidebar-portlet">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="../../../assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Marcus Doe
					</div>
					<div class="profile-usertitle-job">
						Technician
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->



				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">




					</ul>
				</div>
				<!-- END MENU -->
			</div>
			<!-- END PORTLET MAIN -->


			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<!-- uiView:  --><div ui-view="" class="profile-content fade-in-up ng-scope"><div class="row ng-scope">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#" data-target="#tab_1_1" data-toggle="tab" aria-expanded="true">Personal Info</a>
					</li>
					<li class="">
						<a href="#" data-target="#tab_1_2" data-toggle="tab" aria-expanded="false">Change Avatar</a>
					</li>
					<li class="">
						<a href="#" data-target="#tab_1_3" data-toggle="tab" aria-expanded="false">Change Password</a>
					</li>

				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<!-- PERSONAL INFO TAB -->
					<div class="tab-pane active" id="tab_1_1">
						<form role="form" action="#" class="ng-pristine ng-valid">
							<div class="form-group">
								<label class="control-label">First Name</label>
								<input type="text" placeholder="John" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label">Last Name</label>
								<input type="text" placeholder="Doe" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label">Mobile Number</label>
								<input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label">Email address</label>
								<input type="text" placeholder="john@poweredup.com.au" class="form-control">
							</div>

							<div class="form-group">
								<label class="control-label">Account type</label>
								<select class="form-control"><option value="" class=""></option><option value="1">Technician</option><option value="2">Admin</option><option disabled>--------------------</option><option value="3">Customer</option></select>
							</div>

							<div class="margiv-top-10">
								<a href="#" class="btn green-haze">
								Save Changes </a>
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div>
					<!-- END PERSONAL INFO TAB -->
					<!-- CHANGE AVATAR TAB -->
					<div class="tab-pane" id="tab_1_2">
						<p>
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
						</p>
						<form action="#" role="form" class="ng-pristine ng-valid">
							<div class="form-group">
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
									</div>
									<div>
										<span class="btn default btn-file">
										<span class="fileinput-new">
										Select image </span>
										<span class="fileinput-exists">
										Change </span>
										<input type="file" name="...">
										</span>
										<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
										Remove </a>
									</div>
								</div>
							</div>
							<div class="margin-top-10">
								<a href="#" class="btn green-haze">
								Submit </a>
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div>
					<!-- END CHANGE AVATAR TAB -->
					<!-- CHANGE PASSWORD TAB -->
					<div class="tab-pane" id="tab_1_3">
						<form action="#" class="ng-pristine ng-valid">
							<div class="form-group">
								<label class="control-label">Current Password</label>
								<input type="password" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label">New Password</label>
								<input type="password" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label">Re-type New Password</label>
								<input type="password" class="form-control">
							</div>
							<div class="margin-top-10">
								<a href="#" class="btn green-haze">
								Change Password </a>
								<a href="#" class="btn default">
								Cancel </a>
							</div>
						</form>
					</div>
					<!-- END CHANGE PASSWORD TAB -->

				</div>
			</div>
		</div>
	</div>
</div></div>
		<!-- END PROFILE CONTENT -->
	</div>
		</div>
</div>

<!-- END CONTACT LIST-->

<script>
	//shoppingcentres.init(); // init todo page
</script>
