<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Users</a>
		</li>
	</ul>
    <div class="page-toolbar">
		<div class="btn-group pull-right">
		    <a href="#/users/user.html">
			<button type="button" class="btn btn-sm btn-default" data-close-others="true">
			 <i class="icon-plus"></i> Add New User
			</button>
			</a>
		</div>
	</div>

</div>
<h3 class="page-title">
	Users
</h3>
<!-- END PAGE HEADER-->

<!-- CONTACT LIST-->
<div class="row">
		<div class="col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light ">

				<div class="portlet-body">

					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light">
							<thead>
								<tr class="uppercase">
									<th colspan="2">
										Contact
									</th>
									<th>
										Role
									</th>
									<th>
										Email
									</th>
									<th>
									    Actions
									</th>
								</tr>
							</thead>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout/img/avatar4.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">Brain</a>
								</td>

								<td>
									Technician
								</td>
								<td>
									<span class="bold font-green-haze">brian@mail.now</span>
								</td>
								<td>
								    <a href="#/users/user.html"><i class="icon-pencil"></i></a>
								</td>
							</tr>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout/img/avatar5.jpg">
								<td>
									<a href="javascript:;" class="primary-link">Nick Kloss</a>
								</td>

								<td>
									Administrator
								</td>
								<td>
									<span class="bold font-green-haze">nick@mail.now</span>
								</td>
								<td>
								    <a href="#/users/user.html"><i class="icon-pencil"></i></a>
								</td>
							</tr>
							</tr>
							<tr>
								<td class="fit">
									<img class="user-pic" src="../../../assets/admin/layout/img/avatar6.jpg">
								</td>
								<td>
									<a href="javascript:;" class="primary-link">Tim</a>
								</td>

								<td>
									Technician
								</td>
								<td>
									<span class="bold font-green-haze">tim@email.com</span>
								</td>
								<td>
								    <a href="#/users/user.html"><i class="icon-pencil"></i></a>
								</td>
							</tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="../../../assets/admin/layout/img/avatar7.jpg">
                                </td>
                                <td>
                                <a href="javascript:;" class="primary-link">Tom Smith</a>
                                </td>

                                <td>Technician</td>
                                <td><span class="bold font-green-haze">tom@mail.com</span></td><td><a href="#/users/user.html"><i class="icon-pencil"></i></a></td></tr>
                          
						</table>
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
</div>

<!-- END CONTACT LIST-->

<script>
	//shoppingcentres.init(); // init todo page
</script>
